In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns' , 200)
pd.set_option('display.max_rows' , 200)

In [2]:
data=pd.read_excel("2018-2020-latest.xlsx")

In [3]:
data.columns

Index(['s.no', 'movie_name', 'result', 'director', 'writer', 'first_hero',
       'second_hero', 'first_heroien', 'second_heroien', 'multi_starer',
       'music', 'back_ground', 'cinematographer', 'editor', 'audio', 'songs',
       'genre', 'production_no1', 'production_no2', 'production_no3',
       'combined_production', 'distributed_by', 'month', 'year', 'run_time',
       'art_director', 'fight_master_one', 'fight_master_two',
       'fight_master_three', 'poster', 'budget'],
      dtype='object')

# EDITOR

In [4]:
columns = ['editor']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='New'

In [5]:
editorLevels = {'level-1' :[ 'kotagiri garu','sreekar prasad','gowtham raju', 'anthony'],
            'level-2' :[ 'navin nooli','praveen k.l','thammiraju'],
    'level-3' :[ 'karthika srinivas','chota.k.prasad','prawin pudi'],
    'level-4' :['marthand.k.venkatesh','praveen antony','pradeep.e.raghav'],
    'level-5' :[ 'prasanna g.k','arram rama krishna','richard kevin','madhu','raymond rerrick crasta'],
    'level-6'  :['junaid siddique','garry bh','ravi teja girijala','satish surya','shashank mali'],
    'level-7' : ['sreejith sarang','gowtham nerusu','shravan katikaneni','s.r shekar','suresh arumugam'],
    'level-8' : ['sp raja sethupathi','m.r varma','amar reddy','s.b uddhav','nageswara reddy bonthala'],
    'level-9' :['dharmendra kakarla','john abraham','nandamuri hari','anwar ali','sathya g'],
    'level-10' :['ravi manala','j.p','k.m prakash','s.s sunkara','krishna reddy'],
    'level-11': ['renjith touchriver','b mahendranath','shiva.y.prasad','anil kumar bonthu'],
    'new':['New'],
    'more than one(experience)':['more than one(experience)'],
    'more than one':['more than one']}

In [6]:
editors = data['editor'].copy()
editorlist = []
for editor in editors:
    for lvl in editorLevels:
        if editor in editorLevels[lvl]:
            editorlist.append(lvl)

In [7]:
 data['editor'] = editorlist

In [8]:
data['editor'].unique()

array(['level-1', 'level-2', 'level-6', 'level-8', 'level-7',
       'more than one', 'level-3', 'level-10', 'level-4', 'new',
       'level-5', 'level-9', 'more than one(experience)', 'level-11'],
      dtype=object)

# production houses

In [9]:
columns = ['production_no1']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='New'

In [10]:
productionlevel1={'level-1':['sri venkateswara creations','geetha arts','dvv entertainment','konidela production company'],
'level-2':['mythri movie makers','suresh productions','uv creations','v creations','reliance entertainment'],
'level-3':['haarika and hassine creations','annapurna studios','vyjayanthi movies','t-series','studio green'],
'level-4':['vaaraahi chalana chitram','14 reels','sithara entertainments','rockline entertainment pvt ltd','viacom18 motion pictures'],
'level-5':['sri venkateswara cine chitra','pvp','first frame entertainments','aditya music','eros international'],
'level-6':['pawan kalyan creative works','nbk films','puri connects','puri jagannadh touring talkies','g mahesh babu entertainment pvt ltd'],
'level-7':['creative commercials','ck entertainments','ak entertainments','y not studios'],
'level-8':['shine screens','wall poster cinema','big ben cinemas','swapna movies','ga2 pictures'],
'level-9':["people's media factory",'sri sathya sai arts','abishek pictures','sri lakshmi narasimha productions'],
'level-10':['ira creations','swadham entertainment','dharmapatha creations','shresht movies','manyam productions'],
'level-11':['blue planet entertainment llp','sri lakshmi venkateswara cinemas','anandi art creations','srt entertainments'],
'level-12':['rama lakshmi cine creations','bhavya creations','flying frogs','sri devi movies'],
'level-13':['indira productions','madhura entertainment','kona film corporation','north star entertainment','aran media works','guru films'],
'level-14':['suresh kondeti presents','oak entertainments','sree lakshmi prasanna pictures','east coast production','maruthi talkies','silly monks studios'],
'level-15':['sri tirumala tirupathi venkateswara films','lucky media','70mm entertainments','mvv cinema','r company production','suraksh entertainment'],
'level-16':['a studio','ariel studios','vamsadhara creations','sampath nandi team works','crowd funded movie','manchu entertainments'],
'new':['New'],
'no one':['no one']}

In [11]:
productions1 = data['production_no1'].copy()
productionlist = []
for production_no1 in productions1:
    for lvl in productionlevel1:
        if production_no1 in productionlevel1[lvl]:
            productionlist.append(lvl)

In [12]:
data["production_no1"]=productionlist

In [13]:
data["production_no1"].nunique()

18

# production 2

In [14]:
columns = ['production_no2']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='New'

In [15]:
productions2 = data['production_no2'].copy()
productionlist2 = []
for production_no2 in productions2:
    for lvl2 in productionlevel1:
        if production_no2 in productionlevel1[lvl2]:
            productionlist2.append(lvl2)

In [16]:
set(data['production_no2']).difference(set(data['production_no1']))

{'New',
 'abishek pictures',
 'anandi art creations',
 'annapurna studios',
 'ariel studios',
 'big ben cinemas',
 'ck entertainments',
 'creative commercials',
 'dvv entertainment',
 'east coast production',
 'eros international',
 'first frame entertainments',
 'flying frogs',
 'g mahesh babu entertainment pvt ltd',
 'ga2 pictures',
 'geetha arts',
 'indira productions',
 'ira creations',
 'madhura entertainment',
 'manyam productions',
 'maruthi talkies',
 'mvv cinema',
 'mythri movie makers',
 'nbk films',
 'puri jagannadh touring talkies',
 'rama lakshmi cine creations',
 'sampath nandi team works',
 'shine screens',
 'shresht movies',
 'silly monks studios',
 'sithara entertainments',
 'sri devi movies',
 'sri tirumala tirupathi venkateswara films',
 'sri venkateswara cine chitra',
 'sri venkateswara creations',
 'studio green',
 'suresh productions',
 't-series',
 'uv creations',
 'vaaraahi chalana chitram',
 'vyjayanthi movies',
 'y not studios'}

In [17]:
data["production_no2"]=productionlist2

In [18]:
data["production_no2"].nunique()

18

# production 3

In [19]:
columns = ['production_no3']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='New'

In [20]:
productions3 = data['production_no3'].copy()
productionlist3 = []
for production_no3 in productions3:
    for lvl3 in productionlevel1:
        if production_no3 in productionlevel1[lvl3]:
            productionlist3.append(lvl3)

In [21]:
data["production_no3"]=productionlist3

In [22]:
data["production_no3"].unique()

array(['no one', 'level-8', 'level-13', 'new', 'level-4', 'level-7',
       'level-2', 'level-14', 'level-1', 'level-5', 'level-11', 'level-3',
       'level-10', 'level-16', 'level-9', 'level-6', 'level-15',
       'level-12'], dtype=object)

# cinematography

In [23]:
columns = ['cinematographer']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'

In [24]:
columns = ['cinematographer']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [25]:
cameralevels={'level-1':['senthil kumar','p.c sreeram','rathnavelu','p.s vinod'],
'level-2':['madhi','v manikandan','miroslaw kuba brozek','sameer reddy'],
'level-3':['rajeev ravi','natarajan subramaniam','choka.k.naidu','gnana shekar v.s','k.u mohanan'],
'level-4':['ayananka bose','vetri palanisamy','prasad murella','k.v guhan','karthik ghattamaneni'],
'level-5':['p.g vinda','santhana krishnan','sathyan sooryan','s manikandan'],
'level-6':['ram prasad','r.d rajashekar','sai sriram','george.c.williams'],
'level-7':['arthur.a.wilson','sam.k.naidu','venkat.c.dilip','vishnu sharma','sanu varghese','advaitha gurumurthy'],
'level-8':['richard prasad','shamdat','niketh bommireddy','sujith sarang','raj thota','ravi yadav'],
'level-9':['mukesh g','vijay.c.chakravarthy','palani karthik','sudhakar yakkanti','sirsha ray','nizar shafi'],
'level-10':['andrew i','maneesh chandra bhatt','shaneil deo','vijay.c.kumar','raamy','rajesh yadav','mahendiran jayaraju'],
'level-11':['p.k varma','j yuvaraj','m.sukumar','garudavega anji','shekar chandru','jaya krishna gummadi'],
'level-12':['venkat.r.prasad','soundarrajan','sarvesh murari','raam','divakar mani','dasaradhi sivendra','vedaraman sankara'],
'level-13':['rajashekar b','t surendra reddy','suresh sarangam','a vasanth','anil bandari','guru prashanth rai','arul vincent'],
'level-14':['anish tharun kumar','suresh ragutu','r.k prathap','bal reddy p','r siddharth','l.k vijay','lavith','samala bhasker'],
'level-15':['prasad g.k','rasool ellore','sathish muthayala','s.v vishweshwar','praveen vanamali','dhamu narravula','d yadhagiri','eshwar ellumahanthi','jagadeesh cheekati','b.v amarnadh reddy'],
'more than one':['more than one'],
'more than one(experience)':['more than one(experience)'],
'seasonal':['seasonal'],
'new':['new']}

In [26]:
cameras= data['cinematographer'].copy()
cameralist = []
for cinematographer in cameras:
    for lvl in cameralevels:
        if cinematographer in cameralevels[lvl]:
            cameralist.append(lvl)

In [27]:
data["cinematographer"]=cameralist

In [28]:
data["cinematographer"].unique()

array(['level-10', 'new', 'level-8', 'level-6', 'level-2', 'level-11',
       'level-7', 'level-12', 'level-15', 'level-1', 'level-4',
       'more than one', 'level-13', 'level-9', 'level-3',
       'more than one(experience)', 'level-5', 'seasonal', 'level-14'],
      dtype=object)

# fights 1

In [29]:
columns = ['fight_master_one']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'

In [30]:
columns = ['fight_master_one']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [31]:
columns = ['fight_master_one']
for col in columns:   
    data.loc[data[col].str.contains('foreign'),col]='foreign'

In [32]:
fighterlevels={'level-1':['ram laxman','vijay','peter hein','vijay'],
            'level-2':['venkat','kanal kannan','stunt silva'],
             'level-3':['real satheesh','ravi varma','dhilip subbarayan'],
             'level-4':['dragon prakash','rama krishna','anbariv'],
             'level-5':['jashuva','nandu','ram sunkara'],
             'no one':['no one'],
             'no fights':['no fights'],
             'new':['new'],
             'seasonal':["seasonal"],
              'foreign':["foreign"]}

In [33]:
fighters= data['fight_master_one'].copy()
fighterslist = []
for fight_master_one in fighters:
    for lvl in fighterlevels:
        if fight_master_one in fighterlevels[lvl]:
            fighterslist.append(lvl)

In [34]:
data["fight_master_one"]=fighterslist

In [35]:
data["fight_master_one"].unique()

array(['level-4', 'level-5', 'no one', 'new', 'level-1', 'level-2',
       'level-3', 'no fights', 'seasonal'], dtype=object)

# fight master2

In [36]:
columns = ['fight_master_two']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['fight_master_two']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

columns = ['fight_master_two']
for col in columns:   
    data.loc[data[col].str.contains('foreign'),col]='foreign'

In [37]:
fighters2= data['fight_master_two'].copy()
fighterslist2 = []
for fight_master_two in fighters2:
    for lvl in fighterlevels:
        if fight_master_two in fighterlevels[lvl]:
            fighterslist2.append(lvl)

In [38]:
data["fight_master_two"]=fighterslist2

In [39]:
data["fight_master_two"].unique()

array(['no one', 'foreign', 'new', 'level-5', 'level-3', 'level-2',
       'level-1', 'level-4', 'seasonal'], dtype=object)

# fight masters 3

In [40]:
columns = ['fight_master_three']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['fight_master_three']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

columns = ['fight_master_three']
for col in columns:   
    data.loc[data[col].str.contains('foreign'),col]='foreign'

In [41]:
fighters3= data['fight_master_three'].copy()
fighterslist3 = []
for fight_master_three in fighters3:
    for lvl in fighterlevels:
        if fight_master_three in fighterlevels[lvl]:
            fighterslist3.append(lvl)

In [42]:
data["fight_master_three"]=fighterslist3

In [43]:
data["fight_master_three"].unique()

array(['no one', 'level-4', 'foreign', 'level-2', 'level-5', 'level-3',
       'new', 'level-1'], dtype=object)

# art directors

In [44]:
columns = ['art_director']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['art_director']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [45]:
artlevels={'level-1':['sabu cyril','rajeevan','thota dharani','a.s prakash','vaishnavi reddy'],
'level-2':['rama krishna and mounika','kolla avinash','ravindar','milan','suresh selvarajan'],
'level-3':['kosanam vital','ramanjaneyulu.a','ramana vanka','sahi suresh'],
'level-4':['kiran kumar manne','brahma kadali','shivam rao','drk kiran and s.s moorthy'],
'level-5':['chinna','shaik jhonny','gandhi nandikudikar','selva kumar'],
'level-6':['t nagendra prasad','rajeev nayer','s.v murali','latha tharun','satyanarayana d.y'],
'level-7':['nagendra','srikanth ramisetty','mridul baidya','lakshmi sindhuja grandhi'],
'level-8':['a ram kumar and b supriya','raghu kulakarni','thaju','bhupesh.r.bhupathi'],
'level-9':['j.k murthy','krishna maya','narayana reddy','vivek annamalai','hari varma','t.n prasad'],
'more than one':['more than one'],
'new':['new'],
'seasonal':['seasonal']}

In [46]:
arts= data['art_director'].copy()
artlist = []
for art_director in arts:
    for lvl in artlevels:
        if art_director in artlevels[lvl]:
            artlist.append(lvl)

In [47]:
data["art_director"]=artlist

In [48]:
data["art_director"].unique()

array(['new', 'level-9', 'level-3', 'level-5', 'level-1', 'level-2',
       'level-8', 'level-7', 'level-4', 'more than one', 'level-6',
       'seasonal'], dtype=object)

# posters

In [49]:
Postercounts = data['poster'].value_counts()
Posternames = Postercounts[Postercounts==1].index
data.loc[data['poster'].isin(Posternames),'poster'] ='new'

In [50]:
posterlevels={'level-1':['anil bhanu','siva kiran'],
             'level-2':['dhanie aelay','padmasri'],
             'level-3':['design id','omkar kadiyam','ram peddeti','vikram designs'],
             'level-4':['kishore posters','posterman design works','krishna digitals'],
             'level-5':['vasu prem','gopi prasanna','eshan design'],
             'new':['new']}

In [51]:
posters= data['poster'].copy()
posterlist = []
for poster in posters:
    for lvl in posterlevels:
        if poster in posterlevels[lvl]:
            posterlist.append(lvl)

In [52]:
data["poster"]=posterlist

In [53]:
data["poster"].unique()

array(['level-2', 'level-1', 'new', 'level-3', 'level-4', 'level-5'],
      dtype=object)

# music

In [54]:
columns = ['music']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'

In [55]:
   
columns = ['music']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [56]:
musiclevels={'level-1':['devi sri prasad','vishal-shekhar','pritam','thamman','anirudh','amit trivedi'],
             'level-2':['m.m keeravani','gopi sunder','hiphop tamizha','mani sharma','chirantan bhatt'],
             'level-3':['vivek sagar','mickey.j.mayer','ghibran','govind vasanth'],
             'level-4':['mahati swara sagar','prashant pillai','vishal chandrasekhar','sam c.s'],
             'level-5':['anoop rubens','b ajaneesh loknath','shaan rahman','justin prabhakaran','sri charan pakala','radhaan'],
             'level-6':['k','chaitan bharadwaj','jakes bejay','sharreth','dhibu ninan thomas','sai kartheek','mark.k.robin'],
             'level-7':['kalyan malik','pravin lakkaraju','sandeep chowta','raghu dixit','harsha vardhan rameshwar','poorna chandra tejaswi','raghu kunchey'],
             'level-8':['shekar chandra','leon james','sai vasanth','prashanth.r.vihari','bala murali balu','nivas prasanna','shravan bharadwaj'],
             'level-9':['judah sandhy','ron ethan yohann','sunil kashyap','suresh bobbili','bheems ceciroleo','sunny m.r',],
             'level-10':['kiran ravindranath','k.m radha krishnan','ravi shankar','j.b','koti','shakthikanth karthik','shabir'],
             'level-11':['naresh kumaran','vasuki vaibhav','karthik kodakamdla','gifton elias','syed kamran','bulganin','sanker sharma','s.chinna','smaran'],
             'new':['new'],
             'more than one':['more than one'],
             'more than one(experience)':['more than one(experience)'],
             'seasonal':['seasonal']}

In [57]:
musics= data['music'].copy()
musiclist = []
for music in musics:
    for lvl in musiclevels:
        if music in musiclevels[lvl]:
            musiclist.append(lvl)

In [58]:
data["music"]=musiclist

In [59]:
data["music"].unique()

array(['level-6', 'level-8', 'level-3', 'level-11', 'more than one',
       'level-1', 'level-5', 'level-2', 'new', 'seasonal', 'level-4',
       'level-9', 'level-7', 'level-10'], dtype=object)

# back ground

In [60]:
columns = ['back_ground']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'

In [61]:
   
columns = ['back_ground']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [62]:
musiclevels2={'level-1':['devi sri prasad','vishal-shekhar','pritam','thamman','anirudh','amit trivedi'],
             'level-2':['m.m keeravani','gopi sunder','hiphop tamizha','mani sharma','chirantan bhatt'],
             'level-3':['vivek sagar','mickey.j.mayer','ghibran'],
             'level-4':['mahati swara sagar','govind vasanth','prashant pillai','vishal chandrasekhar','sam c.s'],
             'level-5':['anoop rubens','b ajaneesh loknath','shaan rahman','justin prabhakaran','sri charan pakala','radhaan'],
             'level-6':['k','chaitan bharadwaj','jakes bejay','sharreth','dhibu ninan thomas','sai kartheek','mark.k.robin'],
             'level-7':['kalyan malik','pravin lakkaraju','sandeep chowta','raghu dixit','harsha vardhan rameshwar','poorna chandra tejaswi','raghu kunchey'],
             'level-8':['shekar chandra','leon james','sai vasanth','prashanth.r.vihari','bala murali balu','nivas prasanna','shravan bharadwaj'],
             'level-9':['judah sandhy','ron ethan yohann','sunil kashyap','suresh bobbili','bheems ceciroleo','sunny m.r',],
             'level-10':['kiran ravindranath','k.m radha krishnan','ravi shankar','j.b','koti','shakthikanth karthik','shabir'],
             'level-11':['naresh kumaran','vasuki vaibhav','karthik kodakamdla','gifton elias','syed kamran','bulganin','sanker sharma','s.chinna','smaran'],
             'new':['new'],
              'more than one(experience)':['more than one(experience)'],
             'more than one':['more than one'],
             'seasonal':['seasonal']}

In [63]:
musics2= data['back_ground'].copy()
musiclist2= []
for back_ground in musics2:
    for lvl in musiclevels:
        if back_ground in musiclevels2[lvl]:
            musiclist2.append(lvl)

In [64]:
data["back_ground"]=musiclist2

In [65]:
data["back_ground"].unique()

array(['level-6', 'level-8', 'level-3', 'level-11', 'level-1', 'level-5',
       'level-2', 'new', 'seasonal', 'level-4', 'level-9', 'level-7',
       'level-10', 'more than one(experience)', 'more than one'],
      dtype=object)

# director

In [66]:
columns = ['director']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'

In [67]:
columns = ['director']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [68]:
directorlevels={'level-1':['koratala siva','trivikram srinivas'],
               'level-2':['sukumar','ram gopal varma','boyapati srinu','surender reddy'],
               'level-3':['nag ashwin','anil ravipudi','puri jagannadh','vikram.k.kumar'],
               'level-4':['parasuram','vamshi paidipally','harish shankar'],
               'level-5':['v.v vinayak','krish','sujeeth','maruthi',],
               'level-6':['mohana krishna indraganti','trinadha rao nakkina','k.s ravi kumar'],
               'level-7':['sankalp reddy','gowtham tinnanuri','shiva nirvana'],
               'level-8':['vi anand','kishore tirumala','b.v nandini reddy'],
               'level-9':['venky kudumula','thiru','venky atluri','k.s ravindra'],
               'level-10':['anand shankar','sri ram aditya','c prem kumar','pawan kumar'],
               'level-11':['prashanth varma','caarthick raju','ramesh varma','santosh.p.jaya kumar'],
               'level-12':['g ashok','satish vegesna','teja','g nageswara reddy'],
               'level-13':['hari nath','rahul sankrityan','tharun bhaskar','krishna chaitanya','b jeevan reddy'],
               'level-14':['vakkantham vamsi','hanu raghavapudi','kalyan krishna','k.v guhan','ravi babu'],
               'level-15':['chandoo mondeti','prabhakar','merlapaka gandhi','annish krishna','rahul ravindran','sudheer varma','g.r krishna','mahi.v.raghav'],
               'level-16':['sriwass','karunakaran','bhimaneni srinivasa rao','arun pawar','ohmkar'],
               'level-17':['madan','srinu vaitla','kranthi madhav','sai kiran adivi'],
               'level-18':['paruchuri murali','j.b murali krishna','ayodhyakumar krishnamsetty','rajaa kiran'],
               'new':['new'],
               'seasonal':['seasonal'],
               'more than one':['more than one']}

In [69]:
directors= data['director'].copy()
directorslist= []
for director in directors:
    for lvl in directorlevels:
        if director in directorlevels[lvl]:
            directorslist.append(lvl)

In [70]:
data["director"]=directorslist

In [71]:
data["director"].unique()

array(['level-16', 'new', 'level-8', 'seasonal', 'level-5', 'level-11',
       'level-3', 'level-15', 'level-2', 'level-4', 'level-9', 'level-13',
       'level-17', 'level-14', 'level-12', 'level-6', 'level-7',
       'more than one', 'level-18', 'level-1', 'level-10'], dtype=object)

In [72]:
data.drop("writer",axis=1,inplace=True)

# first hero

In [73]:
columns = ['first_hero']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['first_hero']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [74]:
herolevels={'level-1':['pawan kalyan','mahesh babu','chiranjeevi','prabhas'],
           'level-2':['jr ntr','allu arjun','ram charan',],
           'level-3':['nagarjuna','mammootty','venkatesh','bala krishna'],
           'level-4':['nithin','nani','varun tej',],
           'level-5':['ravi teja','naga chaitanya','sai dharma tej','sharwanand'],
           'level-6':['aadhi pinisetty','dulquer salmaan','vijay devarakonda','adivi sesh'],
           'level-7':['ram pothineni','akhil','atharvaa', 'gopi chand','bellamkonda srinivas'],
           'level-8':['prasanna','vishwak sen','allu sirish','karthikeya','naga shourya'],
           'level-9':['sudheer babu','sumanth shailendra','kalyan ram','nikhil','sathya dev'],
           'level-10':['sree vishnu','rajasekhar','naveen polishetty','rahul vijay','sundeep kishan'],
           'level-11':['allari naresh','sumanth','sushanth','nara rohit','raj tharun','sunil'],
           'level-12':['srikanth','manchu manoj','manchu vishnu','aadi saikumar','mohan babu'],
           'level-13':['kalyan dev','sumanth ashwin','rakshith','karthik raju','sapthagiri'],
           'level-14':['santosh sobhan','akash puri','vishwadev rachakonda','chetan maddineni','srinivas sayee'],
           'new':['new'],
           'no hero':['no hero'],
           'seasonal':['seasonal']}

In [75]:
heros= data['first_hero'].copy()
heroslist= []
for first_hero in heros:
    for lvl in herolevels:
        if first_hero in herolevels[lvl]:
            heroslist.append(lvl)

In [76]:
data["first_hero"]=heroslist

In [77]:
data["first_hero"].nunique()

17

# second hero

In [78]:
columns = ['second_hero']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['second_hero']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

In [79]:
heros2= data['second_hero'].copy()
heroslist2= []
for second_hero in heros2:
    for lvl in herolevels:
        if second_hero in herolevels[lvl]:
            heroslist2.append(lvl)

In [80]:
data["second_hero"]=heroslist2

In [81]:
data["second_hero"].nunique()

17

# heroiens

In [82]:
columns = ['first_heroien']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['first_heroien']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

olumns = ['first_heroien']
for col in columns:   
    data.loc[data[col].str.contains('old'),col]='old'

In [83]:
heroienlevels={'level-1':['nayanthara','anushka','vidya balan','pooja hegde','shraddha kapoor'],
              'level-2':['keerthy suresh','kiara advani','kajal agarwal','samantha','rashmika'],
              'level-3':['nabha natesh','taapsee','kalyani priyadarshan','anupama parameswaran','nidhi agarwal'],
              'level-4':['sai pallavi','raashi khanna','mehreen pirzada','rakul preet singh','tamannah'],
              'level-5':['ritika singh','shraddha srinath','payal rajput','aishwarya rajesh','shalini pandey'],
              'level-6':['anu emmanuel','lavanya tripathi','regina cassandra','hansika motwani','nivetha thomas'],
              'level-7':['malavika nair','nanditha swetha','ruhani sharma','nivetha pethuraj','megha akarsh','aditi rao hydari'],
              'level-8':['lakshmi manchu','adah sharma','niharika konidela','sonal chauhan','shruthi ramachandran'],
              'level-9':['tanya hope','sobhita dhulipala','riya suman','vedhika','aakanksha'],
              'level-10':['chandini chowdary','amyra dastur','rukshar dhillon','priya vadlamani','priyanka jain','yagna shetty'],
              'level-11':['pragya jaiswal','anagha l.k','seerat kapoor','kautilya','zareen khan'],
              'level-12':['manali rathod','pallak lalwani','avanthika','neha chauhan','nikhila vimal','samyuktha hegde'],
              'level-13':['diksha panth','neha shetty','chitra shukla','simran parneeja','nitya shetty','natasha doshi'],
              'level-14':['tanishq rajan','darshana banik','pranali ghoghare','karunya chowdhary','satna titus'],
              'new':['new'],
              'seasonal':['seasonal'],
              'old':['old'],
              'no heroien':['no heroien']}

In [84]:
heroiens= data['first_heroien'].copy()
heroienlist= []
for first_heroien in heroiens:
    for lvl in heroienlevels:
        if first_heroien in heroienlevels[lvl]:
            heroienlist.append(lvl)

In [85]:
len(heroienlist)

267

In [86]:
len(heroiens)

267

In [87]:
data['first_heroien']=heroienlist

In [88]:
data['first_heroien'].unique()

array(['no heroien', 'new', 'level-2', 'level-5', 'seasonal', 'level-3',
       'level-11', 'level-4', 'level-1', 'level-13', 'level-12',
       'level-10', 'level-8', 'level-6', 'level-9', 'level-7', 'level-14'],
      dtype=object)

# 2nd heroien

In [89]:
data.loc[-(data['second_heroien'].str.contains('(new)'))&-(data['second_heroien'].str.contains('(seasonal)')),'second_heroien'].unique()

C:\Users\Hp\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

array(['aishwarya rajesh', 'no heroien', 'shraddha kapoor',
       'shruthi ramachandran', 'nabha natesh', 'regina cassandra',
       'kalyani priyadarshan', 'nayanthara', 'zareen khan',
       'priyanka jain', 'lavanya tripathi', 'sonal chauhan',
       'payal rajput', 'raashi khanna', 'vidya balan', 'tamannah',
       'nidhi agarwal', 'shalini pandey', 'samantha', 'nivetha pethuraj',
       'shraddha srinath', 'rukshar dhillon', 'pooja hegde',
       'kajal agarwal', 'nandita swetha', 'nivetha thomas',
       'mehreen pirzada', 'rashmika', 'kautilya', 'samyuktha hegde',
       'anupama parameswaran', 'keerthi suresh', 'karunya chowdhary',
       'anu emmanuel', 'aditi rao hydari', 'priya vadlamani',
       'kiara advani', 'megha akarsh', 'ruhani sharma', 'aakanksha',
       'malavika nair', 'natasha doshi', 'chandini chowdary',
       'sobhita dhulipala', 'niharika konidela', 'nikhila vimal',
       'tanishq rajan', 'diksha panth', 'satna titus', 'taapsee',
       'amyra dastur', 'riya suman', 'chitra shukla', 'seerat kapoor',
       'yagna shetty'], dtype=object)

In [90]:
columns = ['second_heroien']
for col in columns:   
    data.loc[data[col].str.contains('new'),col]='new'
    
columns = ['second_heroien']
for col in columns:   
    data.loc[data[col].str.contains('seasonal'),col]='seasonal'

olumns = ['second_heroien']
for col in columns:   
    data.loc[data[col].str.contains('old'),col]='old'

In [91]:
heroienlevels={'level-1':['nayanthara','anushka','vidya balan','pooja hegde','shraddha kapoor'],
              'level-2':['keerthi suresh','kiara advani','kajal agarwal','samantha','rashmika'],
              'level-3':['nabha natesh','taapsee','kalyani priyadarshan','anupama parameswaran','nidhi agarwal'],
              'level-4':['sai pallavi','raashi khanna','mehreen pirzada','rakul preet singh','tamannah'],
              'level-5':['ritika singh','shraddha srinath','payal rajput','aishwarya rajesh','shalini pandey'],
              'level-6':['anu emmanuel','lavanya tripathi','regina cassandra','hansika motwani','nivetha thomas'],
              'level-7':['malavika nair','nandita swetha','ruhani sharma','nivetha pethuraj','megha akarsh','aditi rao hydari'],
              'level-8':['lakshmi manchu','adah sharma','niharika konidela','sonal chauhan','shruthi ramachandran'],
              'level-9':['tanya hope','sobhita dhulipala','riya suman','vedhika','aakanksha'],
              'level-10':['chandini chowdary','amyra dastur','rukshar dhillon','priya vadlamani','priyanka jain','yagna shetty'],
              'level-11':['pragya jaiswal','anagha l.k','seerat kapoor','kautilya','zareen khan'],
              'level-12':['manali rathod','pallak lalwani','avanthika','neha chauhan','nikhila vimal','samyuktha hegde'],
              'level-13':['diksha panth','neha shetty','chitra shukla','simran parneeja','nitya shetty','natasha doshi'],
              'level-14':['tanishq rajan','darshana banik','pranali ghoghare','karunya chowdhary','satna titus'],
              'new':['new'],
              'seasonal':['seasonal'],
              'old':['old'],
              'no heroien':['no heroien']}

In [92]:
heroiens2= data['second_heroien'].copy()
heroienlist2= []
for second_heroien in heroiens2:
    for lvl in heroienlevels:
        if second_heroien in heroienlevels[lvl]:
            heroienlist2.append(lvl)

In [93]:
len(heroienlist2)

267

In [94]:
len(heroiens2)

267

In [95]:
data['second_heroien']=heroienlist2

In [96]:
data['second_heroien'].unique()

array(['level-5', 'no heroien', 'level-1', 'level-8', 'level-3',
       'level-6', 'new', 'level-11', 'level-10', 'seasonal', 'level-4',
       'level-2', 'level-7', 'level-12', 'level-14', 'level-9',
       'level-13'], dtype=object)

In [97]:
data['first_heroien'].unique()

array(['no heroien', 'new', 'level-2', 'level-5', 'seasonal', 'level-3',
       'level-11', 'level-4', 'level-1', 'level-13', 'level-12',
       'level-10', 'level-8', 'level-6', 'level-9', 'level-7', 'level-14'],
      dtype=object)

In [98]:
data.drop(["s.no","movie_name"],axis=1,inplace=True)

In [99]:

genrelist={'a':1,'b':2,'c':3,'d':4,'e':5,'f':6,'g':7,'h':8,'i':9,'j':10,
           'k':11,'l':12,'m':13,'n':14,'o':15,'p':16,'q':17,'r':18,'s':19,'t':20,
           'u':21,'v':22,'w':23,'x':24,'y':25,'z':26,'ab':27,'ac':28,'ad':29,'ae':30, 
           'af':31,'ag':32,'ah':33,'ai':34,'aj':35,'ak':36,'al':37,'am':38,'an':39,'ao':40}

In [100]:
data.columns

Index(['result', 'director', 'first_hero', 'second_hero', 'first_heroien',
       'second_heroien', 'multi_starer', 'music', 'back_ground',
       'cinematographer', 'editor', 'audio', 'songs', 'genre',
       'production_no1', 'production_no2', 'production_no3',
       'combined_production', 'distributed_by', 'month', 'year', 'run_time',
       'art_director', 'fight_master_one', 'fight_master_two',
       'fight_master_three', 'poster', 'budget'],
      dtype='object')

In [101]:
genrelist = dict([(value, key) for key, value in genrelist.items()])

In [102]:
data['genre']=data['genre'].map(genrelist)

In [103]:
data.columns

Index(['result', 'director', 'first_hero', 'second_hero', 'first_heroien',
       'second_heroien', 'multi_starer', 'music', 'back_ground',
       'cinematographer', 'editor', 'audio', 'songs', 'genre',
       'production_no1', 'production_no2', 'production_no3',
       'combined_production', 'distributed_by', 'month', 'year', 'run_time',
       'art_director', 'fight_master_one', 'fight_master_two',
       'fight_master_three', 'poster', 'budget'],
      dtype='object')

In [104]:
data.drop("year",axis=1,inplace=True)

In [105]:
data.to_csv("list_data.csv")

In [106]:
data2=pd.read_csv("list_data.csv")

In [107]:
 data2 = data2.iloc[:,1:]

In [108]:
data2.head()

,result,director,first_hero,second_hero,first_heroien,second_heroien,multi_starer,music,back_ground,cinematographer,editor,audio,songs,genre,production_no1,production_no2,production_no3,combined_production,distributed_by,month,run_time,art_director,fight_master_one,fight_master_two,fight_master_three,poster,budget
0,average,level-16,no hero,level-13,no heroien,level-5,no,level-6,level-6,level-10,level-1,sony,less than6,w,level-7,no one,no one,no,top,august,130 and above,new,level-4,no one,no one,level-2,medium
1,flop,new,new,no hero,new,no heroien,no,level-8,level-8,new,level-2,madhura audio,less than6,l,level-2,level-13,level-8,yes,top,july,130 and above,level-9,level-5,no one,no one,level-1,low
2,super hit,level-8,level-8,no hero,level-2,no heroien,no,level-3,level-3,level-8,level-6,aditya music,exactly 6,v,level-9,level-2,level-13,yes,top,july,150 and above,level-3,no one,no one,level-4,level-1,medium
3,flop,seasonal,new,no hero,level-5,no heroien,no,level-11,level-11,new,level-8,lahari music,exactly 6,q,new,no one,no one,no,low,december,130 and above,new,new,no one,no one,new,low
4,flop,new,level-12,no hero,seasonal,no heroien,no,level-6,level-6,level-6,level-8,aditya music,less than6,l,new,new,no one,yes,low,july,120 and above,level-5,new,no one,no one,new,low

In [109]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,BaggingClassifier, GradientBoostingClassifier,AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
XtrainDum = pd.get_dummies(data2.drop('result',axis=1))
ytrain = data2['result']
xtrain,xtest,ytrain,ytest = train_test_split(XtrainDum,ytrain)

In [110]:
import warnings
warnings.filterwarnings('ignore')
def CheckModels(xtrain,ytrain,xtest,ytest):
    
    models = [LogisticRegression(),RandomForestClassifier(),BaggingClassifier(),GradientBoostingClassifier(),AdaBoostClassifier(),DecisionTreeClassifier(),
             XGBClassifier()]
    for model in models:
        modelname = str(model).split('(')[0]
        print(f"===========Building {modelname}!!===============")
        model.fit(xtrain,ytrain)
        testPreds=model.predict(xtest)
        trainPreds = model.predict(xtrain)
        print(accuracy_score(ytrain,trainPreds),accuracy_score(ytest,testPreds))
        
    
CheckModels(xtrain,ytrain,xtest,ytest)

===========Building LogisticRegression!!===============
1.0 0.6268656716417911
===========Building RandomForestClassifier!!===============
1.0 0.6865671641791045
===========Building BaggingClassifier!!===============
1.0 0.5970149253731343
===========Building GradientBoostingClassifier!!===============
1.0 0.5970149253731343
===========Building AdaBoostClassifier!!===============
0.6 0.6417910447761194
===========Building DecisionTreeClassifier!!===============
1.0 0.6417910447761194
===========Building XGBClassifier!!===============
1.0 0.5671641791044776

In [111]:
from sklearn.model_selection import GridSearchCV

logreg = LogisticRegression()
grid={"C":np.logspace(-3,3,7), "penalty":["l1","l2"]} 
logreg_cv=GridSearchCV(logreg,grid,cv=10)
logreg_cv.fit(xtrain,ytrain)
testPreds=logreg_cv.predict(xtest)
trainPreds = logreg_cv.predict(xtrain)
print(accuracy_score(ytrain,trainPreds),accuracy_score(ytest,testPreds))

1.0 0.6268656716417911

In [112]:
paramgrid = [ {'n_estimators': [200,500,1000],
'learning_rate':[0.01,0.1,1]}
]
model = AdaBoostClassifier()
ada_cv=GridSearchCV(model,paramgrid,cv=10)
ada_cv.fit(xtrain,ytrain)
testPreds=ada_cv.predict(xtest)
trainPreds = ada_cv.predict(xtrain)
print(accuracy_score(ytrain,trainPreds),accuracy_score(ytest,testPreds))

0.765 0.6865671641791045

In [113]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
clf = OneVsRestClassifier(LogisticRegression()).fit(xtrain, ytrain)
testPreds=clf.predict(xtest)
trainPreds = clf.predict(xtrain)
print(accuracy_score(ytrain,trainPreds),accuracy_score(ytest,testPreds))

1.0 0.6268656716417911